<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<include file="Public/m_mall/head.html"  title="{$mbx.type}"/>
<style>

.product_content{
	overflow: hidden;
	width: 100%;
	margin-top: 50px;
	min-height: 700px;
	background:url(__PUBLIC__/images/sjtxbj.jpg);
	background-size: 100% 100%;
	/*border:1px solid red;*/
}
.pc_right{

	width: 100%;
	

	overflow: hidden;
	/*border:1px solid #E5E5E5;*/
}
.pc_right input{
	border:0;
	height:28px;
	line-height: 28px;
}
.pcr_right p{
	width:450px;
	background: #fff;
	font-size: 18px;
	height:40px;
	line-height: 40px;
	
	padding-left: 20px;
	border-bottom:1px solid #FAF8F4;
	box-shadow: 0px 1px 1px  #888888;/*边框阴影效果*/
}



.xgxx{
	width:75px;text-align:center;background:#E3E4E5;color:#AAAAAA;padding:5px;font-size:16px;display: block;float:left
}
.baocun{
    width:75px;text-align:center;background:#008CD6;color:#fff;padding:5px;font-size:16px;display: block;
}

</style>

<div class='product_content'>
	<div class='pc_right'  style='padding-bottom:20px'>
		<center>
           <div class='pcr_left' style='padding:10% 10% 5% 10%;color:#858B8B'>
           <div style='width:70%;overflow:hidden'>
           <span style='float:left;width:20%;margin-right:10%'><img src='__PUBLIC__/images/gjhy.png' style='width:50px;margin-top:15px'></span>
           <span style='float:left;width:40%''>
           <if condition='$gr.photo neq null'>
           <img src="__PUBLIC__/{$gr.photo}" style='width:80px;height:80px;' class="img-circle">
          
           <p style='margin-top:5px'>{$gr.name}</p>
           <p>{$gr.phone}</p>

           <else/>
           <img src="__PUBLIC__/images/zwtx.jpg" style='width:80px;height:80px;' class="img-circle">
           </if>
           </span>
           <span style='float:left;width:20%'></span>
             </div>
           </div>
      </center>      

       <div style='background:#fff;margin-bottom:20px;height:40px;line-height:40px;' >
       <center>
           <a href='__ROOT__/Mobile/My/index'><span style='font-size: 18px;color:#A19589;'>
           <img src='__PUBLIC__/images/sjwd.png' style='width:30px;'>个人信息</span></a>
           &nbsp;&nbsp;&nbsp;&nbsp;
           <span style='color:#A19589;font-size:20px;'>|</span>&nbsp;&nbsp;&nbsp;&nbsp;
           <span style='color:#1F99DB;font-size: 18px;'><img src='__PUBLIC__/images/sjdd.png' style='width:40px;'>我的订单</span>
           </center>
       </div>
     <p style='background:#FAFAFA;font-size:16px;'>
     <span style='margin-left:5%'>商品信息</span>
     <span style='margin-left:23%'>单价</span>
     <span style='margin-left:8%'>数量</span>
     <span style='margin-left:8%'>金额</span></p>
     <volist name='data' id='data'>
     <dl style='background:#F3F3F3;margin-top:10px;box-shadow: 0px 1px 1px  #888888;/*边框阴影效果*/padding:6px 0;overflow:hidden'>
        <dt style='margin-left:4%;float:left;'><img src='__PUBLIC__/{$data.img}' width='70' height='70'></dt>
        <dd style='float:left;width:17%;height:70px;margin-left:5px'>{$data.cp_title}</dd>
        <dd style='float:left;width:20%;height:70px;line-height:70px;padding-left:5%'>￥{$data.dan}</dd>
        <dd style='float:left;width:20%;height:70px;line-height:70px;padding-left:5%'>{$data.num}</dd>
        <dd style='float:left;width:10%;height:70px;line-height:70px'>￥{$data.price}</dd>
     </dl>
     </volist>
	<dl style='height:40px;padding:10px 0;font-size:13px;background:#fff'>
	   <dd style='float:left;margin-right:20%'>当前时间:{$time}</dd>
	   <dd style='float:left'>{$zongshu}件</dd>
	   <dd style='float:right'><span style='color:red'>￥{$zongjia}</span>(不含运费)</dd>
	</dl>
	</div>
	
	


</div>
<div style='height:20px'></div>
<include file="Public/m_mall/footer.html" title='Home'/>