<include file="Public/admin/gg/head.html"  title="网站后台"/>
<style type="text/css">
.flow{
    width: 176px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
</style>
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">转账审批</h2>

      </div>
      <table class="table">
       <tr>
        <th>申请人</th>
        <th>人才合同价格</th>
        <th>配置企业价格</th>
        <th>证书类别</th>
        <th>配置企业</th>
        <th>操作</th>
       </tr>
       <volist name='show' id='show'>
       <tr>
        <td class="center">{$show.transfer_name}</td>
        <td class="center">{$show.transfer_contract}</td>
        <td class="center">{$show.transfer_allocation}</td>
        <td class="center flow" title="{$show.transfer_certificate}">{$show.transfer_certificate}</td>
        <td class="center flow" title="{$show.transfer_configuration}">{$show.transfer_configuration}</td>
        <td class="center">
         <a href="__ROOT__/Admin/Texamination/info?id={$show.id}" title="查看详情" class="">查看</a>
        </td>
       </tr>
       </volist>
       <volist name='renshi' id='renshi'>
       <tr>
        <td class="center">{$renshi.transfer_name}</td>
        <td class="center">{$renshi.transfer_contract}</td>
        <td class="center">{$renshi.transfer_allocation}</td>
        <td class="center flow" title="{$renshi.transfer_certificate}">{$renshi.transfer_certificate}</td>
        <td class="center flow" title="{$renshi.transfer_configuration}">{$renshi.transfer_configuration}</td>
        <td class="center">
         <a href="javascript:;" title="人事无法操作" class="">人事无法操作</a>
        </td>
       </tr>
       </volist>
       <volist name='guanli' id='guanli'>
       <tr>
        <td class="center">{$guanli.transfer_name}</td>
        <td class="center">{$guanli.transfer_contract}</td>
        <td class="center">{$guanli.transfer_allocation}</td>
        <td class="center flow" title="{$guanli.transfer_certificate}">{$guanli.transfer_certificate}</td>
        <td class="center flow" title="{$guanli.transfer_configuration}">{$guanli.transfer_configuration}</td>
        <td class="center">
         <a href="javascript:;" title="管理员无法操作" class="">管理员无法操作</a>
        </td>
       </tr>
       </volist>
      </table>
      <aside class="paging">
      {$page}
      </aside>
 </div>
</section>

<!-- <script type="text/javascript">
  function set(id) {
      var a=confirm("确认发货吗?");
      if(a){
          location.href = <?php echo "'".C('HOME_PATH')."'";?>+'/Order/send?id='+id;
  }else{
      return false;
    }
  }
</script> -->
</body>
</html>
