<include file="Public/admin/gg/head.html"  title="网站后台"/>
<style type="text/css">
.flow{
    width: 176px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
</style>
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">请假列表</h2>
       <a href="__ROOT__/Admin/Leave/add_leave" class="fr top_rt_btn add_icon">申请请假</a>
      </div>
      <section class="mtb">

      </section>
      <table class="table">
       <tr>
        <th>ID</th>
        <th>申请人</th>
        <th>请假开始时间</th>
        <th>请假结束时间</th>
        <th>请假原因</th>
        <th>假条状态</th>
        <th>操作</th>
       </tr>
       <volist name='show' id='show'>
       <tr>
        <td class="center">{$show.id}</td>
        <td class="center">{$show.applicant}</td>
        <td class="center">{$show.start_time}</td>
        <td class="center">{$show.end_time}</td>
        <td class="flow" title="{$show.leave_reason}">{$show.leave_reason}</td>
        <if condition="$show.flag eq 0">
          <td class="center">未审批</td>
        <elseif condition="$show.flag eq 1" />
          <td style="color:blue;" class="center">审批中</td>
        <elseif condition="$show.flag eq 2" />
          <td style="color:#CC0066;" class="center" onclick="wcz({$show.id})" ><button class="layui-btn layui-btn-sm layui-btn-normal">回来请点击</button></td>
        <elseif condition="$show.flag eq 3" />
          <td style="color:red;" class="center">未通过</td>
          <elseif condition="$show.flag eq 4" />
          <td style="color:#000099;" class="center">请等待主管确认</td>
        <elseif condition="$show.flag eq 5" />
          <td style="color:#00FF00;" class="center">已完成</td>
        </if>
        <td class="center">
        <if condition="$show.flag eq 1">
          <a disabled="disabled" onclick="sp();" class="link_icon">&#101;</a>
        <elseif condition="$show.flag eq 2"/>
          <a disabled="disabled" onclick="qq();" class="link_icon">&#101;</a>
        <else />
          <a href="__ROOT__/Admin/Leave/leave_edit?id={$show.id}" title="编辑" class="link_icon">&#101;</a>
        </if>
        <if condition="$show.flag eq 1">
          <a disabled="disabled" onclick="sp();" class="link_icon">&#100;</a>
        <elseif condition="$show.flag eq 2" />
          <a disabled="disabled" onclick="sp();" class="link_icon">&#100;</a>
        <else/>
          <a href="__ROOT__/Admin/Leave/leave_del?id={$show.id}" title="删除" class="link_icon">&#100;</a>
        </if>
        </td>
       </tr>
       </volist>
      </table>
      <aside class="paging">
      {$page}
      </aside>
 </div>
</section>
<div class="wc">
  
</div>
<script type="text/javascript">
    function sp()
    {
      alert('审批过程中无法操作哦！');
    }
    function qq()
    {
      alert('无法操作哦！');
    }
    function wcz($id)
    {
      var b=confirm("如果您已经回到公司请点击确认，等待主管查看！");
      if(b){
        location.href = "<?php echo C('HOME_PATH');?>"+'/Leave/goout?id='+($id);
      }else{
        return false;
      }
    }
</script>
<!-- <script type="text/javascript">
  function set(id) {
      var a=confirm("确认发货吗?");
      if(a){
          location.href = <?php echo "'".C('HOME_PATH')."'";?>+'/Order/send?id='+id;
  }else{
      return false;
    }
  }
</script> -->
</body>
</html>
