<include file="Public/admin/gg/head.html"  title="网站后台"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">产品修改</h2>
       <a class="fr top_rt_btn" href="__ROOT__/Admin/Topsell/report">返回产品列表</a>
      </div>
     <section>
     <form action="" method="post"  enctype="multipart/form-data">
      <ul class="ulColumn2">
       <li>
        <span class="item_name" style="width:120px;">标题:</span>
        <input type="text" class="textbox textbox_295" value="{$sel.title}" name="Title" />
         
       </li>
       <li>
        <span class="item_name" style="width:120px;">摘要:</span>
        <input type="text" class="textbox textbox_295" value="{$sel.abstract}" name="Abstract" />
        
       </li>
       
       <li>
        <span class="item_name" style="width:120px;">时间:</span>
         <input type="text" class="textbox textbox_295" value="{$sel.time}" name="Time" />
        
       </li>
      <li>
        <span class="item_name" style="width:120px;">类别:</span>
         <select name="n_id" class="select">
            <option value="">----请选择----</option>
            <volist name="report1" id="vo">
            <if condition="$vo.type_id eq 2">
              <volist name="report1" id="voo">
                <eq name='vo.id' value='$voo.type_id'>
                  <option value="{$voo.id}" {$sel['n_id']== $voo['id']?'selected':''}>{$voo.type}</option>
                </eq>
              </volist>
              </if>
            </volist>
        </select>
     
       </li>
       <li>
        <span class="item_name" style="width:120px;">页数:</span>
         <input type="text" class="textbox textbox_295" value="{$sel.pages}" name="Pages"/>
         
       </li>
       <li>
        <span class="item_name" style="width:120px;">价格<span style="color:#f00">($)</span>:</span>
         Single User License:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="width:130px" class="textbox" value="{$sel.u_price}" name="U_price"/>
         
       </li>
       <li>
        <span class="item_name" style="width:120px;"></span>
         Corporate User License:&nbsp;<input type="text" class="textbox" style="width:130px" value="{$sel.u_price2}" name="u_price2"/>
         
       </li>
       <li>
        <span class="item_name" style="width:120px;">出版:</span>
        <input name="Published" type="radio" value="1" {$sel['published']== 1?'checked':''}/>已出版  &nbsp;<input name="Published" type="radio" value="2" {$sel['published']== 2?'checked':''}/>未出版
       </li>
      
       <li>
        <span class="item_name" style="width:120px;">产品详情:</span>
        <script id="editor" type="text/plain" name="Details" style="width:1024px;height:500px;margin-left:120px;margin-top:0;"></script>
        <div hidden="hidden" id="content">{$sel.details|htmlspecialchars_decode}</div>

         
       </li>
       <li>
        <span class="item_name" style="width:120px;">表的内容:</span>
        <script id="editor1" type="text/plain" name="table" style="width:1024px;height:500px;margin-left:120px;margin-top:0;"></script>
        <div hidden="hidden" id="content1">{$sel.table|htmlspecialchars_decode}</div>

         
       </li>
       <li>
        <span class="item_name" style="width:120px;">数据列表:</span>
        <script id="editor2" type="text/plain" name="figures" style="width:1024px;height:500px;margin-left:120px;margin-top:0;"></script>
        <div hidden="hidden" id="content2">{$sel.figures|htmlspecialchars_decode}</div>

         
       </li>
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input name="id" type="hidden" value="{$sel.type_id}" />
        <input type="submit" class="link_btn" name="sub"/>
       </li>
      </ul>
      </form>
     </section>
 </div>
</section>
<!--编辑器-->
     <script type="text/javascript" charset="utf-8" src="__PUBLIC__/rich/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/rich/ueditor.all.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/rich/lang/zh-cn/zh-cn.js"></script>  
<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
 document.getElementById('editor').innerHTML=document.getElementById('content').innerHTML;
 var ue1 = UE.getEditor('editor1');
 document.getElementById('editor1').innerHTML=document.getElementById('content1').innerHTML;
 var ue2 = UE.getEditor('editor2');
 document.getElementById('editor2').innerHTML=document.getElementById('content2').innerHTML;
</script>
</body>
</html>
