<include file="Public/admin/gg/head.html"  title="网站后台"/>
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">批量导入</h2>
       <a class="fr top_rt_btn" href="__ROOT__/Admin/Topsell/report">返回产品列表</a>
      </div>
     <section>
     <form action="" method="post" enctype="multipart/form-data">
      <ul class="ulColumn2">
    
     
     <li>
        <span class="item_name" style="width:120px;">上传文件：</span>
           
           <input type="file" name="filename"/>
                     
       </li>
       
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn" name="sub"/>
       </li>
      </ul>
      </form>
     </section>
 </div>
</section>

</body>
</html>