<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">


  
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<include file="Public/m_mall/head.html"  title="{$mbx.type}"/>
 
 <style type="text/css">
    *{margin:0;padding:0;list-style-type:none;}
    a,img{border:0;}
    /* flexslider */
    .flexslider{position:relative;height:25%;overflow:hidden;background:url(__PUBLIC__/images/loading.gif) 50% no-repeat;}
    .slides{position:relative;z-index:1;}
    .slides li{height:100%;}
    .flex-control-nav{position:absolute;bottom:0px;z-index:2;width:100%;text-align:center;}
    .flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
    .flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(__PUBLIC__/images/dot1.png) right 0 no-repeat;cursor:pointer;}
    .flex-control-nav .flex-active{background-position:0 0;}/*此注释为banner小点

    .flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
    .flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
   /* .flex-direction-nav li a.flex-prev:hover{left:20%;background:url(__PUBLIC__/images/prev.png) center center no-repeat;}
    .flex-direction-nav li a.flex-next:hover{right:20%;background:url(__PUBLIC__/images/next.png) center center no-repeat;}

    .flex-direction-nav li a.flex-prev{left:20%;background:url(__PUBLIC__/images/prev1.png) center center no-repeat;background-size:50px 50px;}
    .flex-direction-nav li a.flex-next{right:20%;background:url(__PUBLIC__/images/next1.png) center center no-repeat;background-size:50px 50px;}*/
  </style>
  <div style='margin-top:17%'></div>
<div class="jq22-container" >

    <div class="flexslider"  style='width:100%'>
      <ul class="slides">
       <volist name='ban' id='ban'>
        <li style="background:url(__PUBLIC__/{$ban.photo}) 50% 0 no-repeat;background-size:100% 100%;"></li>
      </volist> 
      </ul>
    </div>
    
  </div>
  
  <script src="__PUBLIC__/home/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="__PUBLIC__/home/jquery.flexslider-min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.flexslider').flexslider({
        directionNav: true,
        pauseOnAction: false,
        slideshowSpeed: 5000
      });
    });
  </script>
<style>
.b{
  border-left:2px solid #37ADE7;padding-left:5px;width:80px;font-size:18px;margin:3%;color:#8B8B8B;
}
.m_cplist{
  margin-top:5px;background:#FAFAFA;padding:2%;overflow:hidden
}
.m_cp_img{
  width:30%;float:left
}
.m_cp_img img{
  width:100%;height:18%
}
.m_cp_title{
  width:30%;float:left;text-align:center;font-size:16px;font-weight: bold;height:9%;padding:5% 0;
}
.m_cp_buy{
  width:40%;float:right;height:9%;padding:4.5% 0;
}
.m_cp_bl,.m_cp_br{
  border:0;width:30%;background:#F2F2F2;color:#CCCCCC;font-size:20px;
}
.m_cp_bl{
  margin-right:2px
}
.m_cp_br{
  margin-left:2px
}
.m_cp_sum{
  width:36%;border:0;background:#F5F5F5;text-align:center;padding-top: 5px
}
.m_cp_jg{
  width:30%;float:left;text-align:center;color:red;font-weight: bold;height:9%
}
.m_cp_gwc{
  width:40%;float:right;height:9%
}
.m_cp_buy .g{
  width: 100%;
  background:#008CD6;color:#fff;padding:8%;border:0;
}
.m_left{
  border:1px solid #F2F2F2
}
</style>
<div class='mindex_content'>
     <p class='b'>{$mbx.type}</p>
     <div class='m_left' ></div>
        <div style='width:98%;margin:0 auto' id='editor'> </div>
</div>
<div hidden='hidden'  id='content' >{$data.details}</div>
                   <script type="text/javascript">
                   // htmlspecialchars_decode
                               document.getElementById('editor').innerHTML=document.getElementById('content').innerText;
                   </script>
<include file="Public/m_mall/footer.html" title='Home'/>