<include file="Public/admin/gg/head.html"  title="网站后台"/>
<style type="text/css">
.a{   
    width: 500px;  
    height: 15px;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
    cursor: pointer;  
}  
</style>
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">转账申请详细信息</h2>
       <?php

     // $id=$GET['id'];
     $a = explode('=',$_SERVER['QUERY_STRING']);
     // var_dump($a[1]);exit;
     ?>
       <a href="__ROOT__/Admin/Transfer/transfer" class="fr top_rt_btn add_icon">返回转账列表</a>
       <a href="__ROOT__/Admin/Transfer/transfer_mod?id={$a['1']}" class="fr top_rt_btn add_icon">编辑</a>
      </div>
      <table class="table">
       <volist name='arr' id='arr'>
        <tr>
        <th>申请人</th>
        <td class="center a" title="{$arr.transfer_name}">{$arr.transfer_name}</td>
        <th>人才合同价格</th>
        <td class="center a" title="{$arr.transfer_contract}">{$arr.transfer_contract}</td>
        </tr>
        <tr>
        <th>配置企业价格</th>
        <td class="center a" title="{$arr.transfer_allocation}">{$arr.transfer_allocation}</td>
        <th>证书类别</th>
        <td class="center a" title="{$arr.transfer_certificate}">{$arr.transfer_certificate}</td>
        </tr>
        <tr>
        <th>配置企业</th>
        <td class="center a" title="{$arr.transfer_configuration}">{$arr.transfer_configuration}</td>
        <th>人才姓名</th>
        <td class="center a" title="{$arr.transfer_talent}">{$arr.transfer_talent}</td>
        </tr>
        <tr>
        <th>配出年月</th>
        <td class="center a" title="{$arr.transfer_match}">{$arr.transfer_match}</td>
        <th>户名</th>
        <td class="center a" title="{$arr.transfer_huming}">{$arr.transfer_huming}</td>
        </tr>
        <tr>
        <th>本次打款金额</th>
        <td class="center a" title="{$arr.transfer_amount}">{$arr.transfer_amount}</td>
        <th>开户行</th>
        <td class="center a" title="{$arr.transfer_bank}">{$arr.transfer_bank}</td>
        </tr>
        <tr>
        <th>账号</th>
        <td class="center a" title="{$arr.transfer_account}">{$arr.transfer_account}</td>
        <th>备注说明</th>
        <td class="center a" title="{$arr.transfer_note}">{$arr.transfer_note}</td>
        </tr>
        <tr>
        <th>已付金额</th>
        <td class="center a" title="{$arr.transfer_paid}">{$arr.transfer_paid}</td>
        <th>资料上传</th>
        <td class="center a" title="{$arr.transfer_pic}"><img src="__PUBLIC__/{$arr.transfer_pic}" style="width:20px"></td>
        </tr>
        <tr>
        <th>财务备注信息</th>
        <td class="center a" title="{$arr.transfer_information}">{$arr.transfer_information}</td>
        </tr>
       </volist>
      </table>
      <aside class="paging">
      {$page}
      </aside>
 </div>
</section>
</body>
</html>
