<include file="Public/admin/gg/head.html"  title="网站后台"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">申请外出</h2>
       <a class="fr top_rt_btn" href="__ROOT__/Admin/Travel/travel_list">返回</a>
      </div>
     <section>
 <form action="__ROOT__/Admin/Travel/doadd_travel" method="post">
      <ul class="ulColumn2">
       <li>
        <span class="item_name" style="width:200px;">申请人:</span>
        <input type="text" required="required" class="textbox textbox_295" placeholder="申请人..." name="applicant" />
       </li>
       <li>
        <span class="item_name" style="width:200px;">外出地址:</span>
        <textarea required="required" style="height: 60px" type="text" class="textbox textbox_295" placeholder="外出地址..." name="out_addr"></textarea>
       </li>
       <li>
        <span class="item_name" style="width:200px;">外出原因:</span>
        <textarea required="required" style="height: 60px" type="text" class="textbox textbox_295" placeholder="比如出差..收购..." name="out_reason"></textarea>
       </li>
       <li>
          <span class="item_name" style="width: 200px" >开始日期:</span>
          <div class="layui-input-inline">
            <input required="required" type="text" name="out_time" class="textbox textbox_295" id="test5" placeholder="外出开始日期">
          </div>
       </li>
       <li>
          <span class="item_name" style="width: 200px" >结束日期:</span>
          <div class="layui-input-inline">
            <input required="required" type="text" name="back_time" class="textbox textbox_295" id="test1" placeholder="外出结束日期">
          </div>
       </li>
       <li>
          <span class="item_name" style="width:200px;">选择您的主管:</span>
          <select name="aid" required="required" style='width:307px;height:38px;border: 1px #4fa3d3 solid;'>
            <option required="required" value="">--请选择--</option>
            <foreach name="user" item="user">
                <option value="{$user.id}">
                      {$user.name}
                </option>
            </foreach>
          </select>
       </li>
       <li>
        <span class="item_name" style="width:200px;"></span>
        <input type="hidden" name="uid" value="{$Think.session.id}" />
        <input type="hidden" name="department_id" value="{$Think.session.department_id}" />
        <input type="submit" class="link_btn"/>
       </li>
      </ul>
      </form>

     </section>
 </div>
</section>
<script type="text/javascript">
  layui.use('laydate', function(){
    var laydate = layui.laydate;

      //时间选择器
      laydate.render({
        elem: '#test5'
        ,type: 'datetime'
      });
    });

    layui.use('laydate', function(){
    var laydate = layui.laydate;

      //时间选择器
      laydate.render({
        elem: '#test1'
        ,type: 'datetime'
      });
    });
</script>
</body>
</html>
    