<include file="Public/admin/gg/head.html"  title="网站后台"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">退款凭证企业配备信息添加</h2>
       <?php

     // $id=$GET['id'];
     $a = explode('=',$_SERVER['QUERY_STRING']);
     // var_dump($a[1]);exit;
     ?>
       <a href="__ROOT__/Admin/Refund/info?id={$a[1]}" class="fr top_rt_btn add_icon">返回退款凭证企业详情</a>
      </div>
     <section>
     <form action="" method="post" enctype="multipart/form-data">
      <ul class="ulColumn2">
      <table class="table">
      <tr>
        <th>企业价格</th>
        <td><input type="text" class="textbox textbox_295" placeholder="企业注册资金" name="requipment_enterprise" required="required"/></td>
        <th>签约年限</th>
        <td>
        <div class="layui-input-inline">
        <input type="text" class="textbox textbox_295" id="test5" placeholder="申请人与公司签约年份" name="requipment_contractyears" required="required"/>
          </div>
        </td>
      </tr>
      <tr>
        <th>配备人才</th>
        <td><input type="text" class="textbox textbox_295" placeholder="本人" name="requipment_qualified" required="required"/></td>
        <th>级别</th>
        <td>
        <select name="requipment_level" required="required" style='width:307px;height:38px;border: 1px #4fa3d3 solid;'>
        <option value="">--请选择--</option>
        <option value="一级">一级</option>
        <option value="二级">二级</option>
        <option value="中级">中级</option>
        <option value="高级">高级</option>
        <option value="初级">初级</option>
        <option value="注册类">注册类</option>
        <option value="八大员">八大员</option>
        <option value="技工">技工</option>
        </select>
        </td>
      </tr>
      <tr>
        <th>专业</th>
        <td><input type="text" class="textbox textbox_295" placeholder="专业" name="requipment_major" required="required"/></td>
        <th>人才价格</th>
        <td><input type="text" class="textbox textbox_295" placeholder="人才价格" name="requipment_talent" required="required"/></td>
      </tr>
      <tr>
        <th>请选择客服</th>
        <td>
          <select name="requipment_customer" required="required" style='width:307px;height:38px;border: 1px #4fa3d3 solid;'>
            <option value="">--请选择--</option>
            <foreach name="kefu" item="kefu">
                <option value="{$kefu.id}">
                      {$kefu.name}
                </option>
            </foreach>
          </select>
       </td>
       </tr>
      <?php
     // $id=$GET['id'];
     $a = explode('=',$_SERVER['QUERY_STRING']);
     // var_dump($a[1]);exit;
     ?>
      <input type="hidden" name="uid" value="<?php echo $a[1];?>">
       </table>
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn" name="sub" />
       </li>
      </ul>
      </form>
     </section>
 </div>
</section>
 <script src="__PUBLIC__/admin/js/jquery.js"></script>
<script type="text/javascript">
  layui.use('laydate', function(){
    var laydate = layui.laydate;

      //时间选择器
      laydate.render({
        elem: '#test5'
        ,type: 'datetime'
      });
    });

    layui.use('laydate', function(){
    var laydate = layui.laydate;

      //时间选择器
      laydate.render({
        elem: '#test1'
        ,type: 'datetime'
      });
    });
</script>
</body>
</html>
