<include file="Public/admin/gg/head.html"  title="网站后台"/>
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">修改到账配备信息</h2>
       <a href="__ROOT__/Admin/Arrival/arrival" class="fr top_rt_btn add_icon">返回到账列表</a>
      </div>
     <section>
     <form action="" method="post"  enctype="multipart/form-data">
      <ul class="ulColumn2">

      
      <table class="table">
      <tr>
        <th>企业价格</th>
        <td><input type="text" class="textbox textbox_295" placeholder="企业注册资金" name="aequipment_aenterprise" value="{$sel.aequipment_aenterprise}" required="required"/></td>
        <th>签约年限</th>
        <td>
        <div class="layui-input-inline">
        <input type="text" class="textbox textbox_295" id="test5" placeholder="合同签约年份" name="aequipment_contrac" value="{$sel.aequipment_contrac}" required="required"/>
          </div>
</td>
      </tr>
      <tr>
        <th>配备人才</th>
        <td><input type="text" class="textbox textbox_295" placeholder="姓名" name="aequipment_qualified" value="{$sel.aequipment_qualified}" required="required"/></td>
        <th>级别</th>
        <td>
        <select name="aequipment_level" required="required" style='width:307px;height:38px;border: 1px #4fa3d3 solid;'>
        <option value="{$sel.aequipment_level}">{$sel.aequipment_level}</option>
        <option value="一级">一级</option>
        <option value="二级">二级</option>
        <option value="中级">中级</option>
        <option value="高级">高级</option>
        <option value="初级">初级</option>
        <option value="注册类">注册类</option>
        <option value="八大员">八大员</option>
        <option value="技工">技工</option>
        </select>
        <!-- <input type="text" class="textbox textbox_295" placeholder="申请人所在公司级别" name="aequipment_level" value="{$sel.aequipment_level}" required="required"/> -->
        </td>
      </tr>
      <tr>
        <th>专业</th>
        <td><input type="text" class="textbox textbox_295" placeholder="专业" name="aequipment_major" value="{$sel.aequipment_major}" required="required"/></td>
        <th>人才价格</th>
        <td><input type="text" class="textbox textbox_295" placeholder="人才价格" name="aequipment_talent" value="{$sel.aequipment_talent}" required="required"/></td>
      </tr>
      <tr>
        <th>请选择客服</th>
        <td>
          <select name="aequipment_customer" style='width:307px;height:38px;border: 1px #4fa3d3 solid;'>
            <foreach name="user" item="user">
                <option value="{$user.id}" <?php if($user['id'] == $sel['aequipment_customer']) echo "selected";?>>
                      {$user.name}
                </option>
            </foreach>
          </select>
       </td>
       </tr>
       </table>
      <input type="hidden" name='id' value="{$sel.id}"/>
      <input type="hidden" name='aid' value="{$sel.aid}"/>
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input name="id" type="hidden" value="{$sel.id}" />

        <input type="submit" class="link_btn" name="sub"/>
       </li>
      </ul>
      </form>
     </section>
 </div>
</section>
<script type="text/javascript">
  layui.use('laydate', function(){
    var laydate = layui.laydate;

      //时间选择器
      laydate.render({
        elem: '#test5'
        ,type: 'datetime'
      });
    });

    layui.use('laydate', function(){
    var laydate = layui.laydate;

      //时间选择器
      laydate.render({
        elem: '#test1'
        ,type: 'datetime'
      });
    });
</script>
</body>
</html>
