<include file="Public/admin/gg/head.html"  title="网站后台"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">修改到账信息</h2>
       <a href="__ROOT__/Admin/Arrival/arrival" class="fr top_rt_btn add_icon">返回到账列表</a>
      </div>
     <section>
     <form action="" method="post"  enctype="multipart/form-data">
      <ul class="ulColumn2">
      <table class="table">
      <tr>
        <th>申请人</th>
        <td><input type="text" class="textbox textbox_295" placeholder="申请人姓名填写" name="arrival_applicant" value="{$sel.arrival_applicant}" required="required"/></td>
        <th>到账公司账号</th>
        <td><input type="text" class="textbox textbox_295" placeholder="到账公司账号" name="arrival_account" value="{$sel.arrival_account}" required="required"/></td>
      </tr>
      <tr>
        <th>到账时间</th>
        <td><input type="text" class="textbox textbox_295" placeholder="到账时间" name="arrival_time" value="{$sel.arrival_time}" required="required"/></td>
        <th>到账金额</th>
        <td><input type="text" class="textbox textbox_295" placeholder="到账金额" name="arrival_money" value="{$sel.arrival_money}" required="required"/></td>
      </tr>
      <tr>
        <th>已付金额</th>
        <td><input type="text" class="textbox textbox_295" placeholder="已付金额" name="arrival_paid" value="{$sel.arrival_paid}" required="required"/></td>
        <th>合同价格</th>
        <td><input type="text" class="textbox textbox_295" placeholder="按照合同上的价格" name="arrival_contract" value="{$sel.arrival_contract}" required="required"/></td>
      </tr>
      <tr>
        <th>配备企业</th>
        <td><input type="text" class="textbox textbox_295" placeholder="申请人企业" name="arrival_equip" value="{$sel.arrival_equip}" required="required"/></td>
        <th>备注</th>
        <td><input type="text" class="textbox textbox_295" placeholder="说明" name="arrival_remarks" value="{$sel.arrival_remarks}" required="required"/></td>
      </tr>
      <tr>
        <th>企业价格</th>
        <td><input type="text" class="textbox textbox_295" placeholder="企业注册资金" name="arrival_enterprise" value="{$sel.arrival_enterprise}" required="required"/></td>
        <th>签约年限</th>
        <td><input type="text" class="textbox textbox_295" placeholder="合同签约年份" name="arrival_contrac" value="{$sel.arrival_contrac}" required="required"/></td>
      </tr>
      <tr>
        <th>配备人才</th>
        <td><input type="text" class="textbox textbox_295" placeholder="姓名" name="arrival_qualified" value="{$sel.arrival_qualified}" required="required"/></td>
        <th>级别</th>
        <td><input type="text" class="textbox textbox_295" placeholder="申请人所在公司级别" name="arrival_level" value="{$sel.arrival_level}" required="required"/></td>
      </tr>
      <tr>
        <th>专业</th>
        <td><input type="text" class="textbox textbox_295" placeholder="专业" name="arrival_major" value="{$sel.arrival_major}" required="required"/></td>
        <th>人才价格</th>
        <td><input type="text" class="textbox textbox_295" placeholder="人才价格" name="arrival_talent" value="{$sel.arrival_talent}" required="required"/></td>
      </tr>
      <tr>
        <th>客服</th>
        <td><input type="text" class="textbox textbox_295" placeholder="客服" name="arrival_customer" value="{$sel.arrival_customer}" required="required"/></td>
      </tr>
        <!-- <li>
        <span class="item_name" style="width:120px;">申请人：</span>
        <input type="text" class="textbox textbox_295" placeholder="申请人姓名填写" name="arrival_applicant" value="{$sel.arrival_applicant}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">到账公司账号：</span>
        <input type="text" class="textbox textbox_295" placeholder="到账公司账号" name="arrival_account" value="{$sel.arrival_account}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">到账时间：</span>
        <input type="text" class="textbox textbox_295" placeholder="到账时间" name="arrival_time" value="{$sel.arrival_time}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">到账金额：</span>
        <input type="text" class="textbox textbox_295" placeholder="到账金额" name="arrival_money" value="{$sel.arrival_money}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">已付金额：</span>
        <input type="text" class="textbox textbox_295" placeholder="已付金额" name="arrival_paid" value="{$sel.arrival_paid}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">合同价格：</span>
        <input type="text" class="textbox textbox_295" placeholder="按照合同上的价格" name="arrival_contract" value="{$sel.arrival_contract}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">配备企业：</span>
        <input type="text" class="textbox textbox_295" placeholder="申请人企业" name="arrival_equip" value="{$sel.arrival_equip}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">备注：</span>
        <textarea type="text" class="textbox textbox_295" placeholder="说明" name="arrival_remarks" value="{$sel.arrival_remarks}"/></textarea>
       </li>
       <li>
        <span class="item_name" style="width:120px;">企业价格：</span>
        <input type="text" class="textbox textbox_295" placeholder="企业注册资金" name="arrival_enterprise" value="{$sel.arrival_enterprise}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">签约年限：</span>
        <input type="text" class="textbox textbox_295" placeholder="合同签约年份" name="arrival_contrac" value="{$sel.arrival_contrac}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">配备人才：</span>
        <input type="text" class="textbox textbox_295" placeholder="姓名" name="arrival_qualified" value="{$sel.arrival_qualified}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">级别：</span>
        <input type="text" class="textbox textbox_295" placeholder="申请人所在公司级别" name="arrival_level" value="{$sel.arrival_level}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">专业：</span>
        <input type="text" class="textbox textbox_295" placeholder="专业" name="arrival_major" value="{$sel.arrival_major}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">人才价格：</span>
        <input type="text" class="textbox textbox_295" placeholder="人才价格" name="arrival_talent" value="{$sel.arrival_talent}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">客服：</span>
        <input type="text" class="textbox textbox_295" placeholder="客服" name="arrival_customer" value="{$sel.arrival_customer}"/>
       </li> -->
       </table>
      <input type="hidden" name='id' value="{$sel.id}"/>
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input name="id" type="hidden" value="{$sel.id}" />
        <input type="submit" class="link_btn" name="sub"/>
       </li>
      </ul>
      </form>
     </section>
 </div>
</section>
</body>
</html>
