<include file="Public/admin/gg/head.html"  title="网站后台"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">栏目列表</h2>
       <!-- <a href="__ROOT__/Admin/Top/banner_add" class="fr top_rt_btn add_icon">添加图片</a> -->
      </div>
      <table class="table">
       <tr>
        <th>编号</th>
        <th>栏目pc图标</th>
        <th>栏目手机图标</th>
        <th>栏目banner图</th>
        <th>栏目名称</th>
        <th>首页短语</th>
        <th>操作</th>
       </tr>
       <volist name='arr' id='arr'>
       <tr>
        <td class="center">{$key+1}</td>
         
        <td class="center"><img src="__PUBLIC__/{$arr.photo}" style="width:20px"></td>
        <td class="center"><img src="__PUBLIC__/{$arr.photos}" style="width:20px"></td>
        <td class="center"><img src="__PUBLIC__/{$arr.banner}" style="width:100%;"></td>
        <td class="center">{$arr.type}</td>
        <td class="center">{$arr.phrase}</td>
        <td class="center">
         <a href="__ROOT__/Admin/Lanmu/lanmu_mod?id={$arr.id}" title="编辑" class="link_icon">&#101;</a><!-- 
         <a href="__ROOT__/Admin/Lanmu/lanmu_del?id={$arr.id}" title="删除" class="link_icon">&#100;</a> -->
        </td>
       </tr>
       </volist>
      
      </table>
      <aside class="paging">
      {$page}
      </aside>
 </div>
</section>
</body>
</html>
