<include file="Public/admin/gg/head.html"  title="网站后台"/>
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">退款企业凭证详情</h2>
<!--        <a class="fr top_rt_btn" href="__ROOT__/Admin/Product/product">返回</a> -->
      </div>
     <section>
     <form id="form" action="__ROOT__/Admin/Rexamination/adopt" method="post">
     <input type="hidden" name="bm_sp" value="{$find.bm_sp}">
     <input type="hidden" name="id" value="{$find.id}">
     <input type="hidden" name="status" value="{$find.status}">
     <table class="layui-table" style="width:900px; height:300px;">
        <thead>
          <tr>
            <th colspan="4" style="height:30px;text-align:center;"><h1><b>到账单</b></h1></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width:50px;">申请人：</td>
            <td  style="width:100px;">{$find.refund_applicant}</td>
            <td style="width:50px;">配出年月：</td>
            <td  class="b" title="{$find.refund_match}" style="width:100px;">{$find.refund_match}</td>
          </tr><tr>
            <td style="width:50px;">配出企业：</td>
            <td  style="width:100px;">{$find.refund_equip}</td>
            <td style="width:50px;">合同价格：</td>
            <td  style="width:100px;">{$find.refund_contract}</td>
          </tr>
          <tr>
            <td style="width:50px;">备注：</td>
            <td  style="width:100px;">{$find.refund_remarks}</td>
            <td style="width:50px;">已到账价格：</td>
            <td style="width:100px;">{$find.refund_account}</td>
          </tr><tr>
            <td style="width:50px;">户名：</td>
            <td  style="width:100px;">{$find.refund_name}</td>
            <td style="width:50px;">本次打款金额：</td>
            <td  style="width:100px;">{$find.refund_money}</td>
          </tr>
          <tr>
            <td style="width:50px;">开户行：</td>
            <td  style="width:100px;">{$find.refund_bank}</td>
            <td style="width:50px;">账号：</td>
            <td  style="width:100px;">{$find.refund_number}</td>
          </tr>
          <tr>
            <td>部门主管</td>
            <td>
			       {$uname}
            </td>
            <td>
              <button type="button" class="layui-btn layui-btn-primary layui-btn-lg" onclick="yes()">通过</button></td>
            <td>
              <button type="button" class="layui-btn layui-btn-primary layui-btn-lg" onclick="Not({$find.id})">残忍拒绝</button>
            </td>
          </tr>
        </tbody>
        {$page}
      </table>
      </form>
      
     </section>
 </div>
</section>
<script type="text/javascript">
  layui.use('laydate', function(){
    var laydate = layui.laydate;

      //时间选择器
      laydate.render({
        elem: '#test5'
        ,type: 'datetime'
      });
    });

    layui.use('laydate', function(){
    var laydate = layui.laydate;

      //时间选择器
      laydate.render({
        elem: '#test1'
        ,type: 'datetime'
      });
    });

    function yes()
    {
     var a=confirm("确认通过吗?");
      	  if(a){
            $("#form").submit();
      		}else{
            return false;
          }
    }
    function Not($id)
    {
      var b=confirm("您将要拒绝了！");
      if(b){
        location.href = "<?php echo C('HOME_PATH');?>"+'/Rexamination/Not?id='+($id);
      }else{
        return false;
      }
    }

</script>
</body>
</html>
