<include file="Public/admin/gg/head.html"  title="网站后台"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">部门添加</h2>
       <a class="fr top_rt_btn" href="__ROOT__/Admin/Station/station">返回岗位列表</a>
      </div>
     <section>
     <form action="" method="post" enctype="multipart/form-data">
      <ul class="ulColumn2">
       <li>
        <span class="item_name" style="width:120px;">部门名称：</span>
        <!-- <input type="text" class="textbox textbox_295" id="name" placeholder="部门名称..." name="department_name" /> -->
        <select name="department_id">
            <foreach name="departments" item="department">
              <option  value="{$department.id}">
                    {$department.department_name}
              </option>
            </foreach>
        </select>
         
       </li>
       <li>
        <span class="item_name" style="width:120px;">岗位名称：</span>
        <input type="text" class="textbox textbox_295" id="name" placeholder="岗位名称..." name="station_name" />
         
       </li>
        
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn" name="sub" onClick="return yz()"/>
       </li>
      </ul>
      </form>
     </section>
 </div>
</section>
 <script src="__PUBLIC__/admin/js/jquery.js"></script>
<script language="javascript">  

  function yz(){
    if($("#name").val()==''||$("#name").val().length<1)
    {
      alert('User name cannot be empty and no less than 1 bits');
      return false;
    }
  }
  
</script>
</body>
</html>
