<include file="Public/admin/gg/head.html"  title="网站后台"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">快递列表</h2>
       
       <a href="__ROOT__/Admin/Express/add" class="fr top_rt_btn add_icon">申请快递</a>
      </div>
      <table class="table">
       <tr>
        <th>编号</th>
        <th>快递地址</th>
        <th>快递物品</th>
        <th>收件人</th>
        <th>收件人电话</th>
        <th>备注</th>
        <th>状态</th>
       </tr>
       <volist name='arr' id='arr'>
       <tr>
        <td class="center">{$key+1}</td>
        <td class="center">{$arr.name}</td>
        <td class="center">{$arr.updatetime}</td>
        <td class="center">{$arr.updatetime}</td>
        <td class="center">{$arr.updatetime}</td>
        <td class="center">{$arr.updatetime}</td>
        <td class="center">{$arr.updatetime}</td>
        
        <td class="center">
         <a href="__ROOT__/Admin/Admin/admin_update?id={$arr.id}" title="编辑" class="link_icon">&#101;</a>
         <a href="__ROOT__/Admin/Admin/admin_del?id={$arr.id}" title="删除" class="link_icon">&#100;</a>
        </td>
       </tr>
       </volist>
      
      </table>
      <aside class="paging">
      {$page}
      </aside>
 </div>
</section>
</body>
</html>
