<include file="Public/admin/gg/head.html"  title="网站后台"/>
<style type="text/css">
.flow{
    width: 176px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
</style>
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">外出审批</h2>
       <a href="__ROOT__/admin.php/Permission/return" class="fr top_rt_btn">回公司确认</a>
      </div>
<!--       <section class="mtb">
       <form action="" method="post">
       <input type="text" class="textbox textbox_225" placeholder="输入标题..." name="name"/>
       <input type="submit" value="查询" class="group_btn" name="sub"/>
       </form>
      </section> -->
      <table class="table">
       <tr>
        <th> 申请人 </th>
        <th>外出时间</th>
        <th>回来时间</th>
        <th>外出原因</th>
        <th>外出地址</th>
        <th>外出详情</th>
       </tr>
       <volist name='show' id='show'>
       <tr>
        <td class="center">{$show.applicant}</td>
        <td class="center">{$show.out_time}</td>
        <td class="center">{$show.back_time}</td>
        <td class="center flow" title="{$show.out_reason}">{$show.out_reason}</td>
        <td class="center flow" title="{$show.out_addr}">{$show.out_addr}</td>
        <td class="center">
         <a href="__ROOT__/Admin/Permission/travelinfo?id={$show.id}" title="查看详情" class="">查看</a>
        </td>
       </tr>
       </volist>
      </table>
      <aside class="paging">
        {$page}
      </aside>
 </div>
</section>
</body>
</html>