<include file="Public/admin/gg/head.html"  title="网站后台"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">人员资料修改</h2>
       <a class="fr top_rt_btn" href="__ROOT__/Admin/People/people">返回人员列表</a>
      </div>
     <section>
     <form action="" method="post"  enctype="multipart/form-data">
      <ul class="ulColumn2">
       <li>
        <span class="item_name" style="width:120px;">人员名称：</span>
        <input type="text" class="textbox textbox_295" value="{$sel.name}" name="title" />
       </li>
        <li>
        <span class="item_name" style="width:120px;">部门：</span>
        <select name="department_id" style='width:307px;height:38px;border: 1px #4fa3d3 solid;'>
          <foreach name="dep" item="department">
              <option  value="{$department.id}" >
                    {$department.department_name}
              </option>
            </foreach>
        </select>
        <!-- <input type="text" class="textbox textbox_295" id="pass" placeholder="" name="department_id" /> -->
        
       </li>

       <li>
        <span class="item_name" style="width:120px;">岗位：</span>
        <select name="station_id" style='width:307px;height:38px;border: 1px #4fa3d3 solid;' >
          <foreach name="sta" item="station">
              <option  value="{$station.id}" >
                    {$station.station_name}
              </option>
            </foreach>
        </select>
        <!-- <input type="text" class="textbox textbox_295" id="pass" placeholder="" name="station_id" /> -->
        
       </li>
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input name="id" type="hidden" value="{$sel.id}" />
        <input type="submit" class="link_btn" name="sub" onClick="return yz()"/>
       </li>
      </ul>
      </form>
     </section>
 </div>
</section>
<script src="__PUBLIC__/admin/js/jquery.js"></script>
<script language="javascript">  

  function yz(){
    if($("#pass").val()==''||$("#pass").val().length<1)
    {
      alert('Password cannot be empty and no less than 1 bits');
      return false;
    }
  }
  
</script>

</body>
</html>
