<include file="Public/admin/gg/head.html"  title="网站后台"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">快递申请</h2>
       <a class="fr top_rt_btn" href="__ROOT__/Admin/Expre/express">返回</a>
      </div>
     <section>
     <form action="__ROOT__/Admin/Expre/expre_info_add" method="post">
      <ul class="ulColumn2">
      <li>
        <span class="item_name" style="width:120px;">寄件人：</span>
        <input type="text" readonly class="textbox textbox_295" value="{$arr.name}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">收件人：</span>
        <input type="text" readonly class="textbox textbox_295" value="{$arr.addressee}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">电话：</span>
        <input type="text" readonly class="textbox textbox_295" value="{$arr.tel}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">快递物品：</span>
        <input type="text" readonly class="textbox textbox_295" value="{$arr.goods}" />
       </li>
       <li>
        <span class="item_name" style="width:120px;">快递地址：</span>
        <input type="text" readonly class="textbox textbox_295" value="{$arr.address}" />
       </li>
       <li>
        <span class="item_name" style="width:120px;">备注：</span>
        <textarea readonly class="textbox textbox_295" style="height: 60px">{$arr.remarks}</textarea>
         </li>
         <li>
        <span class="item_name" style="width:120px;">到货公司名称：</span>
        <input type="text" required="required" class="textbox textbox_295" name="company_name" />
       </li>
       <li>
        <span class="item_name" style="width:120px;">快递单号：</span>
        <input type="text" required="required" class="textbox textbox_295"  name="number" />
       </li>
       <input type="hidden" name="id" value="{$arr.id}">
        <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn"/>
       </li>
      
      </ul>
      </form>
     </section>
 </div>
</section>
 <script src="__PUBLIC__/admin/js/jquery.js"></script>

</body>
</html>
