<include file="Public/admin/gg/head.html"  title="网站后台"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">转账申请添加</h2>
       <a href="__ROOT__/Admin/Transfer/transfer" class="fr top_rt_btn add_icon">返回转账列表</a>
      </div>
     <section>
     <form action="" method="post" enctype="multipart/form-data">
      <ul class="ulColumn2">
      <table class="table">
      <tr>
        <th>申请人</th>
        <td><input type="text" class="textbox textbox_295" placeholder="申请转账人姓名" name="transfer_name" required="required"/></td>
        <th>人才合同价格</th>
        <td><input type="text" class="textbox textbox_295" placeholder="本人合同上的价格" name="transfer_contract" required="required"/></td>
      </tr>
      <tr>
        <th>配置企业价格</th>
        <td><input type="text" class="textbox textbox_295" placeholder="企业价格" name="transfer_allocation" required="required"/></td>
        <th>证书类别</th>
        <td><input type="text" class="textbox textbox_295" placeholder="所属公司部门证书" name="transfer_certificate" required="required"/></td>
      </tr>
      <tr>
        <th>配置企业</th>
        <td><input type="text" class="textbox textbox_295" placeholder="申请人企业" name="transfer_configuration" required="required"/></td>
        <th>人才姓名</th>
        <td><input type="text" class="textbox textbox_295" placeholder="本人姓名" name="transfer_talent" required="required"/></td>
      </tr>
      <tr>
        <th>配出年月</th>
        <td><input type="text" class="textbox textbox_295" placeholder="转账的年月日" name="transfer_match" required="required"/></td>
        <th>户名</th>
        <td><input type="text" class="textbox textbox_295" placeholder="收款人开户户名" name="transfer_huming" required="required"/></td>
      </tr>
      <tr>
        <th>本次打款金额</th>
        <td><input type="text" class="textbox textbox_295" placeholder="人民币（大写） ￥全款  预付款 尾款 介绍费" name="transfer_amount" required="required"/></td>
        <th>开户行</th>
        <td><input type="text" class="textbox textbox_295" placeholder="开户的银行" name="transfer_bank" required="required"/></td>
      </tr>
      <tr>
        <th>账号</th>
        <td><input type="text" class="textbox textbox_295" placeholder="开户的账号" name="transfer_account" required="required"/></td>
        <th>备注说明</th>
        <td><input type="text" class="textbox textbox_295" placeholder="说明" name="transfer_note" required="required"/></td>
      </tr>
      <tr>
        <th>账号</th>
        <td><input type="text" class="textbox textbox_295" placeholder="开户的账号" name="transfer_account" required="required"/></td>
        <th>备注说明</th>
        <td><input type="text" class="textbox textbox_295" placeholder="说明" name="transfer_note" required="required"/></td>
      </tr>
      <tr>
        <th>已付金额</th>
        <td><input type="text" class="textbox textbox_295" placeholder="已付金额" name="transfer_paid" required="required"/></td>
        <th>上传图片</th>
        <td><input type="file" name="transfer_pic" required="required"/></td>
      </tr>
      <tr>
        <th>财务备注信息</th>
        <td><input type="text" class="textbox textbox_295" placeholder="财务备注" name="transfer_information" required="required"/></td>
      </tr>
       <!-- <li>
        <span class="item_name" style="width:120px;">申请人：</span>
        <input type="text" class="textbox textbox_295" placeholder="申请转账人姓名" name="transfer_name" required="required"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">人才合同价格：</span>
        <input type="text" class="textbox textbox_295" placeholder="本人合同上的价格" name="transfer_contract" required="required"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">配置企业价格：</span>
        <input type="text" class="textbox textbox_295" placeholder="企业价格" name="transfer_allocation" required="required"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">证书类别：</span>
        <input type="text" class="textbox textbox_295" placeholder="所属公司部门证书" name="transfer_certificate" required="required"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">配置企业：</span>
        <input type="text" class="textbox textbox_295" placeholder="申请人企业" name="transfer_configuration" required="required"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">人才姓名：</span>
        <input type="text" class="textbox textbox_295" placeholder="本人姓名" name="transfer_talent" required="required"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">配出年月：</span>
        <input type="text" class="textbox textbox_295" placeholder="转账的年月日" name="transfer_match" required="required"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">户名：</span>
        <input type="text" class="textbox textbox_295" placeholder="收款人开户户名" name="transfer_huming" required="required"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">本次打款金额：</span>
        <input type="text" class="textbox textbox_295" placeholder="人民币（大写） ￥全款  预付款 尾款 介绍费" name="transfer_amount" required="required"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">开户行：</span>
        <input type="text" class="textbox textbox_295" placeholder="开户的银行" name="transfer_bank" required="required"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">账号：</span>
        <input type="text" class="textbox textbox_295" placeholder="开户的账号" name="transfer_account" required="required"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">备注说明：</span>
        <textarea type="text" class="textbox textbox_295" placeholder="说明" name="transfer_note" required="required"/></textarea>
       </li>
       <li>
        <span class="item_name" style="width:120px;">已付金额：</span>
        <input type="text" class="textbox textbox_295" placeholder="已付金额" name="transfer_paid" required="required"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">上传图片：</span>
          <label class="uploadImg">
           <input type="file" name="transfer_pic"/>
           <span>上传图片</span>
          </label>
       </li>
       <li>
        <span class="item_name" style="width:120px;">财务备注信息：</span>
        <textarea type="text" class="textbox textbox_295" placeholder="财务备注" name="transfer_information" required="required"/></textarea>
       </li> -->
       </table>
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn" name="sub" />
       </li>
      </ul>
      </form>
     </section>
 </div>
</section>
 <script src="__PUBLIC__/admin/js/jquery.js"></script>

</body>
</html>
