<include file="Public/admin/gg/head.html"  title="网站后台"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">修改资质凭证到账凭证申请信息</h2>
       <a href="__ROOT__/Admin/Qualifications/qualifications" class="fr top_rt_btn add_icon">返回资质凭证到账凭证申请列表</a>
      </div>
     <section>
     <form action="" method="post"  enctype="multipart/form-data">
      <ul class="ulColumn2">
      <table class="table">
      <tr>
        <th>日期</th>
        <td><input type="text" class="textbox textbox_295" placeholder="到账的年月日" name="qualifications_date" value="{$sel.qualifications_date}" required="required"/></td>
        <th>市场部客服</th>
        <td><input type="text" class="textbox textbox_295" placeholder="市场部客服公司内部人员可选" name="qualifications_customer" value="{$sel.qualifications_customer}" required="required"/></td>
      </tr>
      <tr>
        <th>申请人</th>
        <td><input type="text" class="textbox textbox_295" placeholder="申请人联系方式" name="qualifications_applicant" value="{$sel.qualifications_applicant}" required="required"/></td>
        <th>企业名称</th>
        <td><input type="text" class="textbox textbox_295" placeholder="公司名称" name="qualifications_enterprise" value="{$sel.qualifications_enterprise}" required="required"/></td>
      </tr>
      <tr>
        <th>资质名称</th>
        <td><input type="text" class="textbox textbox_295" placeholder="资质名称" name="qualifications_aptitude" value="{$sel.qualifications_aptitude}" required="required"/></td>
        <th>本次到账日期</th>
        <td><input type="text" class="textbox textbox_295" placeholder="资金到账的年月日时分" name="qualifications_arrival" value="{$sel.qualifications_arrival}" required="required"/></td>
      </tr>
      <tr>
        <th>合同价格</th>
        <td><input type="text" class="textbox textbox_295" placeholder="按照合同价格" name="qualifications_contract" value="{$sel.qualifications_contract}" required="required"/></td>
        <th>已到账金额</th>
        <td><input type="text" class="textbox textbox_295" placeholder="已经到账的金额" name="qualifications_money" value="{$sel.qualifications_money}" required="required"/></td>
      </tr>
      <tr>
        <th>到账账户</th>
        <td><input type="text" class="textbox textbox_295" placeholder="到账的账户" name="qualifications_account" value="{$sel.qualifications_account}" required="required"/></td>
        <th>本次到账金额</th>
        <td><input type="text" class="textbox textbox_295" placeholder="人民币（大写） ￥全款  预付款 尾款 介绍费" name="qualifications_bmoney" value="{$sel.qualifications_bmoney}" required="required"/></td>
      </tr>
      <tr>
        <th>公关费</th>
        <td><input type="text" class="textbox textbox_295" placeholder="公关费" name="qualifications_relations" value="{$sel.qualifications_relations}" required="required"/></td>
        <th>备注</th>
        <td><input type="text" class="textbox textbox_295" placeholder="说明" name="qualifications_remarks" value="{$sel.qualifications_remarks}" required="required"/></td>
      </tr>
        <!-- <li>
        <span class="item_name" style="width:120px;">日期：</span>
        <input type="text" class="textbox textbox_295" placeholder="到账的年月日" name="qualifications_date" value="{$sel.qualifications_date}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">市场部客服：</span>
        <input type="text" class="textbox textbox_295" placeholder="市场部客服公司内部人员可选" name="qualifications_customer" value="{$sel.qualifications_customer}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">申请人：</span>
        <input type="text" class="textbox textbox_295" placeholder="申请人联系方式" name="qualifications_applicant" value="{$sel.qualifications_applicant}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">企业名称：</span>
        <input type="text" class="textbox textbox_295" placeholder="公司名称" name="qualifications_enterprise" value="{$sel.qualifications_enterprise}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">资质名称：</span>
        <input type="text" class="textbox textbox_295" placeholder="资质名称" name="qualifications_aptitude" value="{$sel.qualifications_aptitude}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">本次到账日期：</span>
        <input type="text" class="textbox textbox_295" placeholder="资金到账的年月日时分" name="qualifications_arrival" value="{$sel.qualifications_arrival}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">合同价格：</span>
        <input type="text" class="textbox textbox_295" placeholder="按照合同价格" name="qualifications_contract" value="{$sel.qualifications_contract}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">已到账金额：</span>
        <input type="text" class="textbox textbox_295" placeholder="已经到账的金额" name="qualifications_money" value="{$sel.qualifications_money}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">到账账户：</span>
        <input type="text" class="textbox textbox_295" placeholder="到账的账户" name="qualifications_account" value="{$sel.qualifications_account}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">本次到账金额：</span>
        <input type="text" class="textbox textbox_295" placeholder="人民币（大写） ￥全款  预付款 尾款 介绍费" name="qualifications_bmoney" value="{$sel.qualifications_bmoney}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">公关费：</span>
        <input type="text" class="textbox textbox_295" placeholder="公关费" name="qualifications_relations" value="{$sel.qualifications_relations}"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">备注：</span>
        <textarea type="text" class="textbox textbox_295" placeholder="说明" name="qualifications_remarks" value="{$sel.qualifications_remarks}"/></textarea>
       </li> -->
       </table>
      <input type="hidden" name='id' value="{$sel.id}"/>
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input name="id" type="hidden" value="{$sel.id}" />
        <input type="submit" class="link_btn" name="sub"/>
       </li>
      </ul>
      </form>
     </section>
 </div>
</section>
</body>
</html>
