<include file="Public/admin/gg/head.html"  title="网站后台"/>
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">退款人才凭证详情</h2>
<!--        <a class="fr top_rt_btn" href="__ROOT__/Admin/Product/product">返回</a> -->
      </div>
     <section>
     <form id="form" action="__ROOT__/Admin/Vexamination/adopt" method="post">
     <input type="hidden" name="bm_sp" value="{$find.bm_sp}">
     <input type="hidden" name="id" value="{$find.id}">
     <input type="hidden" name="status" value="{$find.status}">
     <table class="layui-table" style="width:900px; height:300px;">
        <thead>
          <tr>
            <th colspan="4" style="height:30px;text-align:center;"><h1><b>退款人才凭证单</b></h1></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width:50px;">申请人：</td>
            <td  style="width:100px;">{$find.voucher_applicant}</td>
            <td style="width:50px;">本次到账日期：</td>
            <td  class="b" title="{$find.voucher_account}" style="width:100px;">{$find.voucher_account}</td>
          </tr><tr>
            <td style="width:50px;">配备企业：</td>
            <td  style="width:100px;">{$find.voucher_equip}</td>
            <td style="width:50px;">合同价格：</td>
            <td  style="width:100px;">{$find.voucher_contract}</td>
          </tr>
          <tr>
            <td style="width:50px;">到账金额：</td>
            <td  style="width:100px;">{$find.voucher_amount}</td>
            <td style="width:50px;">账户：</td>
            <td style="width:100px;">{$find.voucher_acc}</td>
          </tr><tr>
            <td style="width:50px;">本次到账金额：</td>
            <td  style="width:100px;">{$find.voucher_this}</td>
            <td style="width:50px;">备注：</td>
            <td  style="width:100px;">{$find.voucher_remarks}</td>
          </tr>
          <tr>
            <td>部门主管</td>
            <td>
			       {$uname}
            </td>
            <td>
              <button type="button" class="layui-btn layui-btn-primary layui-btn-lg" onclick="yes()">通过</button></td>
            <td>
              <button type="button" class="layui-btn layui-btn-primary layui-btn-lg" onclick="Not({$find.id})">残忍拒绝</button>
            </td>
          </tr>
        </tbody>
        {$page}
      </table>
      </form>
      
     </section>
 </div>
</section>
<script type="text/javascript">
  layui.use('laydate', function(){
    var laydate = layui.laydate;

      //时间选择器
      laydate.render({
        elem: '#test5'
        ,type: 'datetime'
      });
    });

    layui.use('laydate', function(){
    var laydate = layui.laydate;

      //时间选择器
      laydate.render({
        elem: '#test1'
        ,type: 'datetime'
      });
    });

    function yes()
    {
     var a=confirm("确认通过吗?");
      	  if(a){
            $("#form").submit();
      		}else{
            return false;
          }
    }
    function Not($id)
    {
      var b=confirm("您将要拒绝了！");
      if(b){
        location.href = "<?php echo C('HOME_PATH');?>"+'/Vexamination/Not?id='+($id);
      }else{
        return false;
      }
    }

</script>
</body>
</html>
