<include file="Public/admin/gg/head.html"  title="网站后台"/>
<style type="text/css">
.flow{
    width: 176px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
</style>
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">退款人才凭证审批</h2>

      </div>
      <table class="table">
       <tr>
        <th>申请人</th>
        <th>本次到账日期</th>
        <th>配备企业</th>
        <th>合同价格</th>
        <th>到账金额</th>
        <th>操作</th>
       </tr>
       <volist name='show' id='show'>
       <tr>
        <td class="center">{$show.voucher_applicant}</td>
        <td class="center">{$show.voucher_account}</td>
        <td class="center">{$show.voucher_equip}</td>
        <td class="center flow" title="{$show.voucher_contract}">{$show.voucher_contract}</td>
        <td class="center flow" title="{$show.voucher_amount}">{$show.voucher_amount}</td>
        <td class="center">
         <a href="__ROOT__/Admin/Vexamination/info?id={$show.id}" title="查看详情" class="">查看</a>
        </td>
       </tr>
       </volist>
       <volist name='renshi' id='renshi'>
       <tr>
        <td class="center">{$renshi.voucher_applicant}</td>
        <td class="center">{$renshi.voucher_account}</td>
        <td class="center">{$renshi.voucher_equip}</td>
        <td class="center flow" title="{$renshi.voucher_contract}">{$renshi.voucher_contract}</td>
        <td class="center flow" title="{$renshi.voucher_amount}">{$renshi.voucher_amount}</td>
        <td class="center">
         <a href="javascript:;" title="人事无法操作" class="">人事无法操作</a>
        </td>
       </tr>
       </volist>
       <volist name='guanli' id='guanli'>
       <tr>
        <td class="center">{$guanli.voucher_applicant}</td>
        <td class="center">{$guanli.voucher_account}</td>
        <td class="center">{$guanli.voucher_equip}</td>
        <td class="center flow" title="{$guanli.voucher_contract}">{$guanli.voucher_contract}</td>
        <td class="center flow" title="{$guanli.voucher_amount}">{$guanli.voucher_amount}</td>
        <td class="center">
         <a href="javascript:;" title="管理员无法操作" class="">管理员无法操作</a>
        </td>
       </tr>
       </volist>
      </table>
      <aside class="paging">
      {$page}
      </aside>
 </div>
</section>

<!-- <script type="text/javascript">
  function set(id) {
      var a=confirm("确认发货吗?");
      if(a){
          location.href = <?php echo "'".C('HOME_PATH')."'";?>+'/Order/send?id='+id;
  }else{
      return false;
    }
  }
</script> -->
</body>
</html>
