<include file="Public/admin/gg/head.html"  title="网站后台"/>
<style type="text/css">
.ddc{  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
    cursor: pointer;  
} 
</style>
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">退款凭证企业申请详细信息</h2>
       <?php

     // $id=$GET['id'];
     $a = explode('=',$_SERVER['QUERY_STRING']);
     // var_dump($a[1]);exit;
     ?>
       <a href="__ROOT__/Admin/Refund/refund" class="fr top_rt_btn add_icon">返回退款凭证企业申请列表</a>
       <a href="__ROOT__/Admin/Refund/refund_mod?id={$a[1]}" class="fr top_rt_btn add_icon">编辑退款凭证企业</a>
       <a href="__ROOT__/Admin/Requipment/requipment_add?id={$a[1]}" class="fr top_rt_btn add_icon">添加退款凭证企业配备信息</a>
      </div>
      <table class="table">
      <volist name='arr' id='arr'>
        <tr>
        <th>申请人</th>
        <td class="center ddc" title="{$arr.refund_applicant}">{$arr.refund_applicant}</td>
        <th>配出年月</th>
        <td class="center ddc" title="{$arr.refund_match}">{$arr.refund_match}</td>
        </tr>
        <tr>
        <th>配备企业</th>
        <td class="center ddc" title="{$arr.refund_equip}">{$arr.refund_equip}</td>
        <th>合同价格</th>
        <td class="center ddc" title="{$arr.refund_contract}">{$arr.refund_contract}</td>
        </tr>
        <tr>
        <th>备注</th>
        <td class="center ddc" title="{$arr.refund_remarks}">{$arr.refund_remarks}</td>
        <th>已到账金额</th>
        <td class="center ddc" title="{$arr.refund_account}">{$arr.refund_account}</td>
        </tr>
        <tr>
        <th>户名</th>
        <td class="center ddc" title="{$arr.refund_name}">{$arr.refund_name}</td>
        <th>本次打款金额</th>
        <td class="center ddc" title="{$arr.refund_money}">{$arr.refund_money}</td>
        </tr>
        <tr>
        <th>开户行</th>
        <td class="center ddc" title="{$arr.refund_bank}">{$arr.refund_bank}</td>
        <th>账号</th>
        <td class="center ddc" title="{$arr.refund_number}">{$arr.refund_number}</td>
        </tr>
      </volist>
      </table>

      <div class="page_title">
       <h2 class="fl">退款凭证企业配备信息</h2>
      </div>
  <table class="table">

   <tr>
   <th>企业价格</th>
   <th>签约年限</th>
   <th>配备人才</th>
   <th>级别</th>
   <th>专业</th>
   <th>人才价格</th>
   <th>客服</th>
   <th>操作</th>
  </tr>
       <volist name='aeq' id='uid'>
       <tr>
        <td class="center ddc" title="{$uid.requipment_enterprise}">{$uid.requipment_enterprise}</td>
        <td class="center ddc" title="{$uid.requipment_contractyears}">{$uid.requipment_contractyears}</td>
        <td class="center ddc" title="{$uid.requipment_qualified}">{$uid.requipment_qualified}</td>
        <td class="center ddc" title="{$uid.requipment_level}">{$uid.requipment_level}</td>
        <td class="center ddc" title="{$uid.requipment_major}">{$uid.requipment_major}</td>
        <td class="center ddc" title="{$uid.requipment_talent}">{$uid.requipment_talent}</td>
        <td class="center ddc" title="{$uid.name}">{$uid.name}</td>
        <td class="center">
        <a href="__ROOT__/Admin/Requipment/requipment_mod?id={$uid.id}" title="编辑" class="link_icon">&#101;</a>
        <a href="__ROOT__/Admin/Requipment/del?id={$uid.id}" title="删除" class="link_icon">&#100;</a>
       </td>
       </tr>
       </volist>
      </table>
      <aside class="paging">
      {$page}
      </aside>
 </div>
</section>
</body>
</html>
