<include file="Public/admin/gg/head.html"  title="网站后台"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">产品分类</h2>
       <!-- <a href="__ROOT__/Admin/Pclass/col_add" class="fr top_rt_btn add_icon">添加分类</a> -->
      </div>
      <table class="table">
       <tr>
        <th>编号</th>
        <th>顶级分类</th>
        <th>二级分类</th>
        <th>操作</th>
       </tr>
       <volist name='arr' id='arr'>
       <tr>
        <td class="center">{$key+1}</td>
         
        <td class="center">{$arr.type}</td>
        <td><center><a href='__ROOT__/Admin/Pclass/ercol?id={$arr.id}' >二级分类</a></center></td>
        <td class="center">
         <a href="__ROOT__/Admin/Pclass/col_mod?id={$arr.id}" title="编辑" class="link_icon">&#101;</a>
        <!--  <a href="__ROOT__/Admin/Pclass/col_del?id={$arr.id}" title="删除" class="link_icon">&#100;</a> -->
        </td>
       </tr>
       </volist>
      
      </table>
      <aside class="paging">
      {$page}
      </aside>
 </div>
</section>
</body>
</html>
