<include file="Public/admin/gg/head.html"  title="网站后台"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">公司参数</h2>
       <!-- <a class="fr top_rt_btn" href="__ROOT__/Admin/Express/express">返回管理员列表</a> -->
      </div>
     <section>
     <form action="" method="post" enctype="multipart/form-data">
      <ul class="ulColumn2">
       <li>
        <span class="item_name" style="width:120px;">公司名称：</span>
        <input type="text" class="textbox textbox_295" id="name" placeholder="公司名称" name="name" value="{$sel.name}"/>
       </li>
      <!--  <li>
        <span class="item_name" style="width:120px;">快递地址：</span>
        <input type="text" class="textbox textbox_295" id="address" placeholder="快递地址" name="address" />
       </li>
       <li>
        <span class="item_name" style="width:120px;">收件人：</span>
        <input type="text" class="textbox textbox_295" id="people" placeholder="收件人" name="people" />
       </li>
       <li>
        <span class="item_name" style="width:120px;">收件人电话：</span>
        <input type="text" class="textbox textbox_295" id="phone" placeholder="收件人电话" name="phone" />
       </li>
       <li>
        <span class="item_name" style="width: 120px" >寄件日期:</span>
            <input type="text" name="time" class="textbox textbox_295" id="test5" placeholder="寄件日期">
       </li> -->
       <li>
        <span class="item_name" style="width:120px;">介绍：</span>
        <textarea name="introduce" class="textbox textbox_295" id="beihzu" cols="30" rows="10" value="{$sel.introduce}">{$sel.introduce}</textarea>
        <!-- <input type="password" class="textbox textbox_295" id="pass" placeholder="密码..." name="password" /> -->
        
       </li>
        
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn" name="sub" onClick="return yz()"/>
       </li>
      </ul>
      <input name="id" type="hidden" value="{$sel.id}" />
      </form>
     </section>
 </div>
</section>
 <script src="__PUBLIC__/admin/js/jquery.js"></script>
<script language="javascript">  

  function yz(){
    if($("#name").val()==''||$("#name").val().length<4)
    {
      alert('User name cannot be empty and no less than 5 bits');
      return false;
    }
    if($("#pass").val()==''||$("#pass").val().length<4)
    {
      alert('Password cannot be empty and no less than 5 bits');
      return false;
    }
  }

  layui.use('laydate', function(){
    var laydate = layui.laydate;

      //时间选择器
      laydate.render({
        elem: '#test5'
        ,type: 'datetime'
      });
    });
  
</script>
</body>
</html>
