<include file="Public/admin/gg/head.html"  title="网站后台"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">banner图片列表</h2>
       <a href="__ROOT__/Admin/Top/banner_add?type=1" class="fr top_rt_btn add_icon">添加电脑官网图片</a>
       <a href="__ROOT__/Admin/Top/banner_add?type=2" class="fr top_rt_btn add_icon">添加手机图片</a>
       <a href="__ROOT__/Admin/Top/banner_add?type=3" class="fr top_rt_btn add_icon">添加电脑商城图片</a>
      </div>
      <table class="table">
       <tr>
        <th>编号</th>
        <th>图片</th>
        <th>链接</th>
        <th>类型</th>
        <th>操作</th>
       </tr>
       <volist name='arr' id='arr'>
       <tr>
        <td class="center">{$key+1}</td>
         
        <td class="center"><img src="__PUBLIC__/{$arr.photo}" style="width:250px"></td>
        <td class="center">{$arr.url}</td>
        <td class="center">
           <if condition='$arr.web eq 1'>电脑官网</if>
           <if condition='$arr.web eq 2'>手机</if>
           <if condition='$arr.web eq 3'>电脑商城</if>
        </td>
        <td class="center">
         <a href="__ROOT__/Admin/Top/banner_mod?id={$arr.id}" title="编辑" class="link_icon">&#101;</a>
         <a href="__ROOT__/Admin/Top/banner_del?id={$arr.id}" title="删除" class="link_icon">&#100;</a>
        </td>
       </tr>
       </volist>
      
      </table>
      <aside class="paging">
      {$page}
      </aside>
 </div>
</section>
</body>
</html>
