<include file="Public/admin/gg/head.html"  title="网站后台"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">client图片添加</h2>
       <a class="fr top_rt_btn" href="__ROOT__/Admin/Top/client">返回</a>
      </div>
     <section>
     <form action="" method="post" enctype="multipart/form-data">
      <ul class="ulColumn2">
      <li> 
        <span class="item_name" style="width:120px;">客户名称：</span>
        <lable>
          <input type="text" name="name" class="textbox textbox_295" />
        </lable>
      </li>
     <li>
        <span class="item_name" style="width:120px;">上传图片：</span>
          <label class="uploadImg">
           <input type="file" name="photo"/>
           <span>上传图片</span>
          </label>
       </li>
       
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn" name="sub"/>
       </li>
      </ul>
      </form>
     </section>
 </div>
</section>
</body>
</html>
