<include file="Public/admin/gg/head.html"  title="网站后台"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">列表</h2>
       <a href="__ROOT__/Admin/Top/sg_add" class="fr top_rt_btn add_icon">添加</a>
      </div>
      <table class="table">
       <tr>
        <th>编号</th>
        <th>标题</th>
        <th>内容简介</th>
        
        <th>操作</th>
       </tr>
       <volist name='arr' id='arr'>
       <tr>
        <td class="center">{$key+1}</td>
         <td class="center">{$arr.title}</td>
        <td class="center">{$arr.details|htmlspecialchars_decode|substr=0,400}</td>
        
        <td class="center">
         <a href="__ROOT__/Admin/Top/sg_mod?id={$arr.id}" title="编辑" class="link_icon">&#101;</a>
         <a href="__ROOT__/Admin/Top/sg_del?id={$arr.id}" title="删除" class="link_icon">&#100;</a>
        </td>
       </tr>
       </volist>
      
      </table>
      <aside class="paging">
      {$page}
      </aside>
 </div>
</section>
</body>
</html>
